@import "minima";

body {
  background-color: #0f1117;
  color: #e6edf3;
}

a {
  color: #58a6ff;
}

.site-header {
  background-color: #0f1117;
  border-bottom: 1px solid #30363d;
}

.site-footer {
  background-color: #0f1117;
}
